#story {
  display: none;
}

.form-group {
  font-size: 20px;
  font-style: oblique;
}

.form-control {
  background-color: lightblue;
  height: 75px;
}



#story {
  background-color: maroon;
  font-size: 20px;
  font-style: oblique;
  color: white;
  border: 10px solid orange ;
  margin: 20px;
  padding: 20px;
}

.submit-button {
  width: 500px;
  height: 100px;
  font-size: 50px;
  font-weight: bolder;
  color: blue;
  border: 2px solid black;
  border-radius: 10%;

  h2 {
  font-size: 35px;
  font-weight: 400;
  color: blue;
  font-family: fantasy;
}

#submit {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    body {
    }
}
